html {
    font-size: 20px;
}
body {
    background-color: #ffa500;
    color: black;
}

a {
    color: aliceblue;
}

a:visited {
    color: lightgray;
}

a:hover, a:active {
    color: #eee;
}
