html {
    font-size: 20px;
}
body {
    background-color: rgba(21, 19, 19, 0.451);
    color: black;
}

a {
    color: aliceblue;
}

a:visited {
    color: lightgray;
}

a:hover, a:active {
    color: #eee;
}