html {
    font-size: 22px
}
body {
    background-color: #333;
    color: whitesmoke;
}

a {
    color: aliceblue;
}

a:visited {
    color: lightgray;
}

a:hover, a:active {
    color: #eee;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.column {
   display: flex;
   align-items: center;
   justify-content: right;
   padding: 5px;
   margin-left: 5px;
}

table, tr, th, td, caption {
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}

h1 {
    text-align: center;
}

nav {
    
    display: flow-root;
    text-align: center;
}
li {
    list-style-type: none;
}
.musica {
    text-align: center;
    break-inside: avoid;
}
